* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(142, 142, 151);
}
header {
    border-radius: 3px;
    border: 3px solid white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a {
    color: #8e8e97;
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    justify-content: center;
}

header nav ul li {
    display: inline;padding: 10px;
}

header nav {
    color: white;
    margin: 7px 0;
    border: 3px solid#8e8e97;
}
header nav ul li a {
    color:white;
    margin: 0 30px;
    text-decoration: none;
    font-weight: lighter;
    font-size: 22px;
}


.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    margin: 10px;
    align-items: baseline;
    min-width: 55px;
    border-radius: 5%;
    
}

.aboutme {
    display: flex;
    align-items: center;
}
.picflex {
    border: 3px solid 3px;
    display: flex;
}

.pic {
    border-radius: 10%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #020202;
}

#about-me {
    margin-bottom: 2%;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    height: 100%;
    padding: 3%;
}

#about-me h2 {
    margin: 0% auto;
    position: relative;
    bottom: 8%;
    text-align: center;
    padding: 0% 0% 0% 0%;
    
}

.abouttext {
    margin: 10% 1% 0% 0%;
    line-height: 173%;
    bottom: 0%;
    height: 75%;
    padding: 2%;
}

.textbox{
    margin: auto;
    
}
.textbox p {
    font-size: 20px;
}

.mainbody {
    min-width: 55px;
    background-color:#000000;
    border-radius: 2%;
    height: auto;
    margin: 10px;
    width: auto;
    padding: 10px;
    border: 3px solid lime;
}

.bigbox {
    text-align: center;
    border: 3px solid white;
    height: 500px;
    margin: 10px;
    background-image: url("../Imgs/software-developer.jpg");
    background-size: 84%;
    
}

.bigbox a {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 50px;
    color: white;
    top: 42%;
    font-weight: bolder;
}

.smallbox {
    border: 3px solid white;
    background-image: url("../Imgs/cloud-background.jpeg");
    background-position: center;
    background-size: 50%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 500px;
    justify-content: center;
}

.boxes {
    height: 100%;
    width: 56%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}



.boxes a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: 6px;
    text-align: center;
    font-size: 30px;
}

.box1 {
    border-radius: 25%;
    height: 18%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 3px solid black;;
    padding: 20px;
    text-align: center;

}



#resume {
    background-image:url("../Imgs/Resume\ pic.jpg");
    background-position: center;
    background-size: 106%;
   
}

#run 
{
    background-image: url("../Imgs/run\ buddy.jpg");
    background-position: center;
    background-size: 120%;
}

#run a {
    opacity: 0;
}

#project2 {
    background-image: url("../Imgs/My\ Night\ Sky.png");
    background-position: center;
    background-size: 94%;
}

#project2 a {
    opacity: 0;
}

#Horiseon {
    background-image: url("../Imgs/PIA-large.jpg");
    background-size: cover;
}

#Horiseon a {
    opacity: 0;
}
    





footer {
    border-radius: 5%;
    min-width: 55px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 3px solid black;
    background: black;
}

footer h2 {
    color: #8e8e97;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
}

.contact {
    color: #8e8e97;
    margin: 2%;
    padding: 2%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contact a {
    color: #8e8e97;
    padding-left: 430px;
}

@media screen and (max-width: 980px) {
    header {
        
         padding-bottom: 0;
         position: relative;
         min-width: 55px;
         
    }
    header  h1 {
        width: 100%;
        text-align: center;

    }

    header nav ul li {
        font-size: 20px;
    }

    .about {
        align-items: center;
    }

    .aboutme{
        flex-wrap: wrap;
        justify-content: center;
    }
    #about--me {

    }

    .pic {
        min-width: 55px;
    }

    .boxes {

    }

    .box1 {
        width: 58%;
    }

    #resume {
        background-size: 100%;
    }

    #run {
        background-size: 100%;
    }

    #robot {
        background-size: 34%;
    }
    
    .contact a {
        padding: 0;
    
    }

    .bigbox {
        
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    header nav ul li {
        text-align: center;
    }

    header nav ul li a {
        font-size: 100%;
        margin: 0% 5%;
    }

    .pic {
        width: 1%;
    }

    .bigbox {
        
    }

    .bigbox a{
       width: 100%;
       height: auto; 
    }

    .boxes {
        width: fit-content;
    }

    .box1 {
        width: auto;
    }

    #robot {
        background-size: 121%;
    }
}

@media screen and (max-width: 500px) {
    .bigbox a{
        font-size: 33px;
    }

    .boxes {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        min-width: 1px;

    }
    .box1 {
        width: inherit;
        height: 18%;
        min-width: 1px;
        font-size: x-large;

    }
    #run {
        background-size: 118%;
    }

    .contact {
        font-size: 119%;
    }

    #Horiseon a {
        font-size: 31px;
    }
}

@media screen and (max-width: 350px) {

    .boxes{
        width: 100%;

    }

    .box1 {
        width: 90%;
    }

    #Horiseon a {
        font-size: 36px;
    }
}
