* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    
}

body{
    background-color: rgb(142, 142, 151);
}
header {
    border: 3px solid lime;
    background-color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    top: 0;
}

header h1 {
    border: 3px solid lime;
    font-weight: bold;
    font-size: 40px;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
header a {
    text-decoration: none;
}

header nav ul {
    color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    justify-content: center;
}

header nav ul li {
    display: inline;padding: 10px;
}

header nav {
    float: right;
    margin: 7px 0;
    border: 3px solid black;
}
header nav ul li a {
    color: black;
    margin: 0 30px;
    text-decoration: none;
    font-weight: lighter;
    font-size: 22px;
}


.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 3px solid red;
    margin: 10px;
    align-items: baseline;
    min-width: 488px
    
}

.aboutme {
    border: 3px solid blue;
    display: flex;
    align-items: center;
}
.picflex {
    border: 3px solid 3px;
    display: flex;
}

.pic {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid lime;
}

#about-me {
    margin-bottom: 2%;
    bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    border: 3px solid white;
    position: relative;
    height: 100%;
    padding: 3%;
}

#about-me h2 {
    margin: 0% auto;
    position: relative;
    bottom: 8%;
    text-align: center;
    padding: 0% 0% 0% 0%;
    border: 3px solid blue;
}

.abouttext {
    margin: 10% 1% 0% 0%;
    line-height: 173%;
    border: 3px solid lime;
    bottom: 0%;
    height: 75%;
    padding: 2%;
}

.textbox{
    margin: auto;
    border:3px solid red;
}
.textbox p {
    font-size: 20px;
}

.mainbody {
    min-width: 488px;
    background-color:black;
    height: auto;
    margin: 10px;
    width: auto;
    padding: 10px;
    border: 3px solid lime;
}

.bigbox {
    text-align: center;
    border: 3px solid lime;
    height: 500px;
    margin: 10px;
    background-image: url("../Imgs/software-developer.jpg");
    background-size: 84%;
    
}

.bigbox a {
    position: relative;
    top: 50%;
    text-align: center;
    font-size: 50px;
    color: white;
    top: 42%;
    font-weight: bolder;
}

.smallbox {
    background-image: url("../Imgs/cloud-background.jpeg");
    background-position: center;
    background-size: 50%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 500px;
    justify-content: center;
}

.boxes {
    content: "";
    display: table;
    clear: both;

}

.boxes a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    top: 6px;
    text-align: center;
    font-size: 30px;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;;
    height: 100px;
    width: 250px;
    padding: 20px;
    margin:10px;
    text-align: center;

}

#resume {
    background-image:url("../Imgs/Resume\ pic.jpg");
    background-position: center;
    background-size: 106%;
   
}

#run 
{
    background-image: url("../Imgs/run\ buddy.jpg");
    background-position: center;
}

#run a {
    opacity: 0;
}

#robot {
    background-image: url("../Imgs/Under-Construction-Sign.jpg");
    background-position: center;
    background-size: 120%;
}

#robot a {
    opacity: 0;
}





footer {
    min-width: 488px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 3px solid lime;
    background: white;
}

footer h2 {
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
}

.contact {
    margin: 2%;
    padding: 2%;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid red;
}
.contact a {
    
    padding-left: 430px;
}

@media screen and (max-width: 980px) {
    header {
        
         padding-bottom: 0;
         position: relative;
         min-width: 488px;
         
    }
    header  h1 {
        width: 100%;
        text-align: center;

    }

    header nav ul li {
        font-size: 20px;
    }

    .about {
        align-items: center;
    }

    .aboutme{
        flex-wrap: wrap;
        justify-content: center;
    }
    #about--me {

    }

    .pic {
        min-width: 488px;
    }
    
    .contact a {
        padding: 0;
    
    }

    .bigbox {
        
    }
}

@media screen and (max-width: 768px) {

    header nav ul li {
        text-align: center;
    }

    header nav ul li a {
        font-size: 100%;
        margin: 0% 5%;
    }


    
}
    

